*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

nav{
    padding: 1rem;
    background-color: #FFCCFF;
}

.nav-con{
    display: flex;
    justify-content: space-between;
}

.Logo a{
    font-size: 2rem;
    color: rgb(126, 93, 204);
    text-decoration: none;
}

.menu {
    display: flex;
    list-style: none;
    align-items: center;
}

.menu li{
    margin: 0 1rem;
}

.menu li a{
    color: rgb(126, 93, 204);
    text-decoration: none;
}

.maincontent{
    background-color: rgb(89, 223, 106);
}

.maincontent-con{
    display: flex;
}

.maincontent-info{
    width: 100%;
    padding: 4rem;
}

.maincontent-info h3{
    font-size: 2rem;
}

.maincontent-info p{
    margin: 1rem 0;
}

.maincontent-info .maincontent-btn{
    background-color: #fbff00;
    color: rgb(0, 0, 255);
    padding: 0.3rem;
    border-radius: 10px;
    text-decoration: none;
}

.maincontent-img img{
    max-width: 500%;
    max-height: auto;
    padding: 0rem;
    border-radius: 100px;
}

.content-con{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    column-gap: 5rem;
}

.content-item img{
    width: 65%;
}

.content-item h4{
    margin-top: 1rem 0;
}

.content-item p{
    margin: 0.7rem 0;
}

.content-item a{
    display: inline-block;
    color: rgb(126, 60, 189);
    background-color: #fbff00;
    padding: 0.4rem;
    border-radius: 10px;
    text-decoration: none;
}

.footer-top{
    margin-top: 2rem;
    padding: 3rem;
    background-color: #cdf7f7;
    color: rgb(73, 50, 136);
}

.footer-top-con{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    column-gap: 5rem;
}

.footer-top-item-con{
    display: flex;
    margin: 1rem 0;
}

.footer-top-item-con .date{
    background-color: azure;
    padding: 0.35rem;
    border-radius: 10px;
    text-align: center;
    margin-right: 10px;
}

.footer-top-item:nth-child(2) h4,
.footer-top-item:nth-child(3) h4,{
    margin-bottom: 1rem;
}

.footer-button{
    background-color: rgb(165, 219, 233);
    padding: 1rem;
    text-align: center;
}